body{
	background-image: url("/static/img/milkshare-blank-sfw.jpg");
}

/*body{
	background-image: url("/static/img/home-baby-v2-sfw.jpg");
}*/

/*.navbar-inverse {
	background-color: #FFF;
	border-color: #FFF;
}*/

.navbar-inverse .navbar-nav>li{
	color:#634f84;
	display: inline-block;
}

.navbar-inverse .navbar-nav>li>a{
	color:#634f84;
	display: inline-block;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar-header{
	font-family: 'Josefin Slab', serif;
	font-size: 48px;
	color: #634f84;
}

.navbar-inverse .navbar-brand{
	color: #634f84;
}

.nav .navbar-nav .navbar-right{
	display: inline-block;
}

.login{
	padding-top: 150px;
	padding-left: 50px;
	width: 75%;
}

.login-form{
	text-align: right;
}

.loginlabel{
	font-family: 'Josefin Slab', serif;
	text-align: center;
	color: #634f84;
}

.createlabel{
	font-family: 'Josefin Slab', serif;
	text-align: center;
	color: #634f84;
}

.textarea{
	width:200px;
}

.edit-profile{
	
}

.editlabel{
	font-family: 'Josefin Slab', serif;
	text-align: center;
	color: #634f84;
}

.yourprofile{
	font-family: 'Josefin Slab', serif;
	color: #634f84;
}

.donorprofile{
	font-family: 'Josefin Slab', serif;
	color: #634f84;
}

.message{
	font-family: 'Josefin Slab', serif;
	color: #634f84;
}

.submit{
	padding-top: 10px;
	padding-bottom: 110px;
}

.textarea{
	padding-top: 10px;
	padding-bottom: 10px;
}

.welcome{
	font-family: 'Josefin Slab', serif;
	color: #634f84;
	text-align: center;
}

.main-menu{
	font-family: 'Josefin Slab', serif;
	color: #634f84;
	text-align: center;
	padding-top: 50px;
}

.tagline{
	font-family: 'Josefin Slab', serif;
	color: #634f84;
	text-align: center;
	padding-top: 50px;
	font-style: italic;
	font-size: 30px;
}

.header{
	font-family: 'Josefin Slab', serif;
	color: #634f84;
	font-size: 14px;
}

#filtersubmit{
	padding-left: 15px;
	padding-top: 5px;
	vertical-align: center;
}

.checkbox-inline{
	padding-right: 10px;
}