<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700italic' rel='stylesheet' type='text/css'>
        <link href="/static/boobstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/milkshare.css" rel="stylesheet">

        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <img src=""><a class="navbar-brand" href="/"><strong>MilkShare</strong></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                            <li> <a href="/main">Home</a></li>
                            {% if "logged_in" in session %}
                                <li> <a href="/logout">Log Out</a></li> 
                            {% else %}
                                <li><a href="/login">Log In</a></li>
                            {% endif %} 

                    </ul>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block head %}
        {% endblock %}
    
    </head>
    <body>

        {% block body %}
        {% endblock %}
    

    </body>
</html>
