{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!-- 
Write a message to a donor
-->

<div class="col-md-3"></div>
<div class="col-md-7">
<form action="/sendmessage" method="POST">
	<fieldset>
		<legend>Private Message:</legend>
		To:{{user.first_name}} {{user.last_name}} <br>
		Subject:<textarea id="subjectarea" name="subject"></textarea><br>
		Message:<br>
	<textarea id="textarea" name="inputmessage" rows="4" cols="75">Your Message</textarea><div class="submit">
	<input type="submit" value="Submit"></div></fieldset>
</form>
</div>
<div class="col-md-2"></div>

{% endblock %}
