{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!-- 
Write a message to a donor
-->

<div class="col-md-4"></div>
<div class="col-md-6">
<form action="/sendmessage" method="POST">
	<fieldset>
		<legend>Private Message:</legend>
		<p><strong>To: </strong>{{user.first_name}} {{user.last_name}} </p>
		<p><strong>Subject: </strong><textarea id="subjectarea" name="subject" rows="1" cols="50"></textarea></p>
		<strong>Message: </strong><br>
	<textarea id="textarea" name="inputmessage" rows="4" cols="75">Your Message</textarea><div class="submit">
	<input type="submit" value="Submit"></div></fieldset>
</form>
</div>
<div class="col-md-2"></div>

{% endblock %}
