{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!-- 
Where a user sees their profile
-->

<div class="userinfo">

	<p>First Name: {{ user.first_name }} </p>
	<p>Last Name: {{ user.last_name }} </p>
	<p>Email: {{ user.email }} </p>
	<p>Password: {{ user.password }} </p>
	<p>Phone Number: {{ user.cell_phone }} </p>
	<p>Zip Code: {{ user.zip_code }} </p>

	<p>No Dairy: {% if user.no_dairy == True %}</p>
	<p>No Wheat: {% if user.no_wheat == True %} </p>
	<p>No Soy: {% if user.no_soy == True %} </p>
	<p>No Caffeine: {% if user.no_caffeine == True %} </p>
	<p>No Alcohol: {% if user.no_alcohol == True %} </p>
	<p>Health Info Available: {% if user.has_health_info == True %} </p>

	<p>Drug Information: {{ user.drug_info }} </p>

	<p>About You: {{ user.about_me }} </p>

	<p>Notes: {{ user.notes }} </p>

</div>

<p> <a href="/editprofile">Edit your profile</a></p>




{% endblock %}