{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!-- 
Where a user sees their profile
-->
<div class="col-md-3"></div>
<div class="col-md-7">
	<div class="userinfo">
		<div class="yourprofile">
			<h3> Your Profile </h3>
		</div>
		<p><strong>First Name:</strong> {{ user.first_name }} </p>
		<p><strong>Last Name:</strong> {{ user.last_name }} </p>
		<p><strong>Email:</strong> {{ user.email }} </p>
		<p><strong>Password:</strong> {{ user.password }} </p>
		<p><strong>Phone Number:</strong> {{ user.cell_phone }} </p>
		<p><strong>Zip Code:</strong> {{ user.zip_code }} </p>

		<p><strong>No Dairy:</strong> {% if user.no_dairy == True %}x{% endif %}</p>
		<p><strong>No Wheat:</strong> {% if user.no_wheat == True %} x{% endif %}</p>
		<p><strong>No Soy:</strong> {% if user.no_soy == True %}x{% endif %} </p>
		<p><strong>No Caffeine:</strong> {% if user.no_caffeine == True %}x{% endif %} </p>
		<p><strong>No Alcohol:</strong> {% if user.no_alcohol == True %}x{% endif %} </p>
		<p><strong>Health Info Available:</strong> {% if user.has_health_info == True %}x{% endif %} </p>

		<p><strong>Drug Information:</strong> {{ user.drug_info }} </p>

		<p><strong>About You:</strong> {{ user.about_me }} </p>

		<p><strong>Notes:</strong> {{ user.notes }} </p>

	</div>
<p> <a href="/editprofile">Edit your profile</a></p>
</div>
<div class="col-md-2"></div>




{% endblock %}
